In [1]:
import pandas as pd

In [2]:
glbl = pd.read_csv('../datasets_all/global.1751_2021.csv')
print(glbl.head())

   Year  \
0  1751
1  1752
2  1753
3  1754
4  1755

   Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C)  \
0                                                  3
1                                                  3
2                                                  3
3                                                  3
4                                                  3

   Carbon emissions from solid fuel consumption  \
0                                             3
1                                             3
2                                             3
3                                             3
4                                             3

   Carbon emissions from liquid fuel consumption  \
0                                              0
1                                              0
2                                              0
3                                              0
4                                              0

   Carbon emissions from gas fuel consumption  \
0                                           0
1                                           0
2                                           0
3                                           0
4                                           0

   Carbon emissions from cement production  Carbon emissions from gas flaring  \
0                                        0                                  0
1                                        0                                  0
2                                        0                                  0
3                                        0                                  0
4                                        0                                  0

   Per capita carbon emissions (metric tons of carbon; after 1949 only)
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

In [3]:
glbl.shape

(271, 8)

In [6]:
wrld = pd.read_excel('../datasets_all/nation.1751_2021.xlsx', engine='openpyxl')

In [17]:
wrld.shape

(18991, 10)

In [20]:
wrld.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18991 entries, 0 to 18990
Data columns (total 10 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   Nation                                                                                   18991 non-null  object
 1   Year                                                                                     18991 non-null  int64
 2   Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)  18991 non-null  int64
 3   Emissions from solid fuel consumption                                                    13209 non-null  float64
 4   Emissions from liquid fuel consumption                                                   18366 non-null  float64
 5   Emissions from gas fuel consumption                                                      10742 non-null  float64
 6   Emissions from cement production                                                         18415 non-null  float64
 7   Emissions from gas flaring                                                               2921 non-null   float64
 8   Per capita CO2 emissions (metric tons of carbon)                                         13466 non-null  float64
 9   Emissions from bunker fuels (not included in the totals)                                 18698 non-null  float64
dtypes: float64(7), int64(2), object(1)
memory usage: 1.4+ MB

In [22]:
wrld.Nation.unique()

array(['AFGHANISTAN', 'ALBANIA', 'ALGERIA', 'ANDORRA', 'ANGOLA',
       'ANGUILLA', 'ANTARCTIC FISHERIES', 'ANTIGUA & BARBUDA',
       'ARGENTINA', 'ARMENIA', 'ARUBA', 'AUSTRALIA', 'AUSTRIA',
       'AZERBAIJAN', 'BAHAMAS', 'BAHRAIN', 'BANGLADESH', 'BARBADOS',
       'BELARUS', 'BELGIUM', 'BELIZE', 'BENIN', 'BERMUDA', 'BHUTAN',
       'BONAIRE, SAINT EUSTATIUS, AND SABA', 'BOSNIA & HERZEGOVINA',
       'BOTSWANA', 'BRAZIL', 'BRITISH VIRGIN ISLANDS',
       'BRUNEI (DARUSSALAM)', 'BULGARIA', 'BURKINA FASO', 'BURUNDI',
       'CAMBODIA', 'CANADA', 'CAPE VERDE', 'CAYMAN ISLANDS',
       'CENTRAL AFRICAN REPUBLIC', 'CHAD', 'CHILE', 'CHINA (MAINLAND)',
       'CHRISTMAS ISLAND', 'COLOMBIA', 'COMOROS', 'CONGO', 'COOK ISLANDS',
       'COSTA RICA', 'COTE D IVOIRE', 'CROATIA', 'CUBA', 'CURACAO',
       'CYPRUS', 'CZECH REPUBLIC', 'CZECHOSLOVAKIA',
       'DEMOCRATIC PEOPLE S REPUBLIC OF KOREA',
       'DEMOCRATIC REPUBLIC OF THE CONGO (FORMERLY ZAIRE)',
       'DEMOCRATIC REPUBLIC OF VIETNAM', 'DENMARK', 'DJIBOUTI',
       'DOMINICA', 'DOMINICAN REPUBLIC', 'EAST & WEST PAKISTAN',
       'ECUADOR', 'EGYPT', 'EL SALVADOR', 'EQUATORIAL GUINEA', 'ERITREA',
       'ESTONIA', 'ETHIOPIA', 'FAEROE ISLANDS',
       'FALKLAND ISLANDS (MALVINAS)', 'FEDERAL REPUBLIC OF GERMANY',
       'FEDERATED STATES OF MICRONESIA', 'FEDERATION OF MALAYA-SINGAPORE',
       'FIJI', 'FINLAND', 'FORMER DEMOCRATIC YEMEN',
       'FORMER GERMAN DEMOCRATIC REPUBLIC', 'FORMER PANAMA CANAL ZONE',
       'FORMER YEMEN', 'FRANCE (INCLUDING MONACO)',
       'FRENCH EQUATORIAL AFRICA', 'FRENCH GUIANA', 'FRENCH INDO-CHINA',
       'FRENCH POLYNESIA', 'FRENCH WEST AFRICA', 'GABON', 'GAMBIA',
       'GEORGIA', 'GERMANY', 'GHANA', 'GIBRALTAR', 'GREECE', 'GREENLAND',
       'GRENADA', 'GUADELOUPE', 'GUATEMALA', 'GUINEA', 'GUINEA BISSAU',
       'GUYANA', 'HAITI', 'HONDURAS',
       'HONG KONG SPECIAL ADMINSTRATIVE REGION OF CHINA', 'HUNGARY',
       'ICELAND', 'INDIA', 'INDONESIA', 'IRAQ', 'IRELAND',
       'ISLAMIC REPUBLIC OF IRAN', 'ISLE OF MAN', 'ISRAEL',
       'ITALY (INCLUDING SAN MARINO)', 'JAMAICA', 'JAPAN',
       'JAPAN (EXCLUDING THE RUYUKU ISLANDS)', 'JORDAN', 'KAZAKHSTAN',
       'KENYA', 'KIRIBATI', 'KOSOVO', 'KUWAIT', 'KUWAITI OIL FIRES',
       'KYRGYZSTAN', 'LAO PEOPLE S DEMOCRATIC REPUBLIC', 'LATVIA',
       'LEBANON', 'LEEWARD ISLANDS', 'LESOTHO', 'LIBERIA',
       'LIBYAN ARAB JAMAHIRIYAH', 'LIECHTENSTEIN', 'LITHUANIA',
       'LUXEMBOURG', 'MACAU SPECIAL ADMINSTRATIVE REGION OF CHINA',
       'MACEDONIA', 'MADAGASCAR', 'MALAWI', 'MALAYSIA', 'MALDIVES',
       'MALI', 'MALTA', 'MARSHALL ISLANDS', 'MARTINIQUE', 'MAURITANIA',
       'MAURITIUS', 'MAYOTTE', 'MEXICO', 'MONGOLIA', 'MONTENEGRO',
       'MONTSERRAT', 'MOROCCO', 'MOZAMBIQUE', 'MYANMAR (FORMERLY BURMA)',
       'NAMIBIA', 'NAURU', 'NEPAL', 'NETHERLAND ANTILLES',
       'NETHERLAND ANTILLES AND ARUBA', 'NETHERLANDS', 'NEW CALEDONIA',
       'NEW ZEALAND', 'NICARAGUA', 'NIGER', 'NIGERIA', 'NIUE', 'NORWAY',
       'OCCUPIED PALESTINIAN TERRITORY', 'OMAN',
       'PACIFIC ISLANDS (PALAU)', 'PAKISTAN', 'PALAU', 'PANAMA',
       'PAPUA NEW GUINEA', 'PARAGUAY', 'PENINSULAR MALAYSIA', 'PERU',
       'PHILIPPINES', 'PLURINATIONAL STATE OF BOLIVIA', 'POLAND',
       'PORTUGAL', 'PUERTO RICO', 'QATAR', 'REPUBLIC OF CAMEROON',
       'REPUBLIC OF KOREA', 'REPUBLIC OF MOLDOVA',
       'REPUBLIC OF SOUTH SUDAN', 'REPUBLIC OF SOUTH VIETNAM',
       'REPUBLIC OF SUDAN', 'REUNION', 'RHODESIA-NYASALAND', 'ROMANIA',
       'RUSSIAN FEDERATION', 'RWANDA', 'RWANDA-URUNDI', 'RYUKYU ISLANDS',
       'SABAH', 'SAINT HELENA', 'SAINT LUCIA',
       'SAINT MARTIN (DUTCH PORTION)', 'SAMOA', 'SAO TOME & PRINCIPE',
       'SARAWAK', 'SAUDI ARABIA', 'SENEGAL', 'SERBIA', 'SEYCHELLES',
       'SIERRA LEONE', 'SINGAPORE', 'SLOVAKIA', 'SLOVENIA',
       'SOLOMON ISLANDS', 'SOMALIA', 'SOUTH AFRICA', 'SPAIN', 'SRI LANKA',
       'ST. KITTS-NEVIS', 'ST. KITTS-NEVIS-ANGUILLA',
       'ST. PIERRE & MIQUELON', 'ST. VINCENT & THE GRENADINES', 'SUDAN',
       'SURINAME', 'SWAZILAND', 'SWEDEN', 'SWITZERLAND',
       'SYRIAN ARAB REPUBLIC', 'TAIWAN', 'TAJIKISTAN', 'TANGANYIKA',
       'THAILAND', 'TIMOR-LESTE (FORMERLY EAST TIMOR)', 'TOGO', 'TONGA',
       'TRINIDAD AND TOBAGO', 'TUNISIA', 'TURKEY', 'TURKMENISTAN',
       'TURKS AND CAICOS ISLANDS', 'TUVALU', 'UGANDA', 'UKRAINE',
       'UNITED ARAB EMIRATES', 'UNITED KINGDOM', 'UNITED KOREA',
       'UNITED REPUBLIC OF TANZANIA', 'UNITED STATES OF AMERICA',
       'URUGUAY', 'USSR', 'UZBEKISTAN', 'VANUATU', 'VENEZUELA',
       'VIET NAM', 'WALLIS AND FUTUNA ISLANDS', 'YEMEN',
       'YUGOSLAVIA (FORMER SOCIALIST FEDERAL REPUBLIC)',
       'YUGOSLAVIA (MONTENEGRO & SERBIA)', 'ZAMBIA', 'ZANZIBAR',
       'ZIMBABWE'], dtype=object)

In [21]:
wrld[wrld['Nation'] == 'CHINA']

Empty DataFrame
Columns: [Nation, Year, Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C), Emissions from solid fuel consumption, Emissions from liquid fuel consumption, Emissions from gas fuel consumption, Emissions from cement production, Emissions from gas flaring, Per capita CO2 emissions (metric tons of carbon), Emissions from bunker fuels (not included in the totals)]
Index: []

In [7]:
wrld.head()

,Nation,Year,Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C),Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in the totals)
0,AFGHANISTAN,1949,4,4.0,0.0,0.0,0.0,NaN,NaN,0.0
1,AFGHANISTAN,1950,23,6.0,18.0,0.0,0.0,NaN,0.003025,0.0
2,AFGHANISTAN,1951,25,7.0,18.0,0.0,0.0,NaN,0.003172,0.0
3,AFGHANISTAN,1952,25,9.0,17.0,0.0,0.0,NaN,0.003206,0.0
4,AFGHANISTAN,1953,29,10.0,18.0,0.0,0.0,NaN,0.003551,0.0

In [16]:
wrld.isna().sum()

Nation                                                                                         0
Year                                                                                           0
Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)        0
Emissions from solid fuel consumption                                                       5782
Emissions from liquid fuel consumption                                                       625
Emissions from gas fuel consumption                                                         8249
Emissions from cement production                                                             576
Emissions from gas flaring                                                                 16070
Per capita CO2 emissions (metric tons of carbon)                                            5525
Emissions from bunker fuels (not included in the totals)                                     293
dtype: int64

In [8]:
wrld.Nation.value_counts()

Nation
UNITED KINGDOM                    271
CANADA                            237
POLAND                            222
UNITED STATES OF AMERICA          222
FRANCE (INCLUDING MONACO)         214
                                 ...
FRENCH WEST AFRICA                  9
FEDERATION OF MALAYA-SINGAPORE      7
LEEWARD ISLANDS                     7
KUWAITI OIL FIRES                   1
PUERTO RICO                         1
Name: count, Length: 259, dtype: int64

In [12]:
op = wrld[wrld.Nation == 'UNITED KINGDOM']['Year'].value_counts()

In [18]:
wrld['Year'].min(), wrld['Year'].max()

(1751, 2021)

In [19]:
wrld[wrld['Year'] == 1751]

,Nation,Year,Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C),Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in the totals)
17504,UNITED KINGDOM,1751,2552,2552.0,0.0,0.0,0.0,NaN,NaN,0.0